/* Remove arrows from fullPage slides */

.fp-controlArrow.fp-prev, .fp-controlArrow.fp-next { 
  display: none;
}


/* Text colors */

.h1 {
  color: white;
}

.text {
  color: white;
}

#wellp-home {
  opacity: 1;
  background: rgba(0, 100, 255, 0.3)
}

