:root {
  --text-color: white;
  --bg-button: #3377ff;
}

body {
  background-image: url("bg_image_blurred.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

code {
  background-color: rgba(0, 100, 255, 0.6);
  color: white;
}

/* Mouse animation
Comes from: https://josefzacek.com/blog/how-to-create-scroll-down-animated-mouse-effect-using-html-and-css.html
*/

.moving-mouse-holder {
  margin: auto;
  margin-top: 60px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moving-mouse-holder .mouse {
  width: 26px;
  height: 40px;
  position: relative;
  right: 0;
  border-radius: 18px;
  border: 2px solid #fff;
}

.moving-mouse-holder .mouse-button {
  background-color: #fff;
  width: 4px;
  height: 10px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin: 0 0 0 -2px;
  animation: mouse-scroll 1s infinite alternate;
}

@keyframes mouse-scroll {
  to {
    transform: translate(0, 6px) scale(1, 0.8);
  }
}
/* Text colors */

.h1 {
  color: var(--text-color);
}

.text {
  color: var(--text-color);
}

.text > a {
  color: #99c2ff;
  text-decoration: underline dashed
}

.summary-home {
  color: var(--text-color);
}

#wellp {
  opacity: 1;
  background: rgba(0, 100, 255, 0.6)
}

/* Style for dropdown */
.dropdown-item {
  background-color: #003399;
}
.dropdown-item:hover {
  background-color: #ccddff;
}
.dropdown-item.active.selected {
  background-color: var(--bg-button);
}
.dropdown-menu.open {
  background-color: #003399;
}
.btn.dropdown-toggle.btn-default {
  background-color: var(--bg-button);
  color: var(--text-color);
}
.btn.dropdown-toggle.btn-default:hover {
  background-color: #6699ff;
  color: var(--text-color);
}

/* Buttons */

.btn-default {
  background-color: var(--bg-button);
  color: var(--text-color);
}
.btn-default:focus {
  background-color: var(--bg-button);
  color: var(--text-color);
}
.btn-default:hover {
  background-color: #6699ff;
  color: var(--text-color);
}

/* Player card */

#player_card_ui_1-random_pick {
  margin-top : 1.48em;
  height: 2.4em
}
#player_card_ui_1-run {
  margin-left: 1.3em;
}

#player_card_ui_1-count_distance {
  margin-bottom: 0.45em
}
#player_card_ui_1-count_footprint {
  margin-bottom: 0.45em
}
#pl_flag {
  font-size: 4.5em;
  margin-bottom: -4.5em
}
#pl_name {
  font-size: 3em;
  color: var(--text-color);
  padding-top: 19px;
}
#dist_label, #carb_label{
  font-size: 2em;
  color: var(--text-color);
  display: inline;
  text-decoration: underline dotted white;
}
#dist_label_2, #carb_label_2{
  font-size: 2em;
  color: var(--text-color);
  display: inline;
}
.odometer.html-widget.html-widget-output.shiny-bound-output {
  color: var(--text-color);
  font-size: 2em;
}
#player_card_ui_1-see_evol {
  height: 2.5em;
  width: 9em;
  text-align: center
}


/* Credits panel */

#credits_ui_1-see_source {
  height: 2.5em;
  width: 9em;
  text-align: center;
  margin-left: 1.3em;
}