body {
  background-image: url("bg_image_blurred.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.arrow {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 1.5rem;
  text-align: center;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#arrowdown {
  background-image: linear-gradient(transparent 10%, currentColor 30%, currentColor 70%, transparent 90%);
	-webkit-background-clip: text;
  background-clip: text;
  background-attachment: fixed;
}
#arrowdown > * {
  color: white;
}

/* Text colors */

.h1 {
  color: white;
}

.text {
  color: white;
}

.summary-home {
  color: white;
}

#wellp {
  opacity: 1;
  background: rgba(0, 100, 255, 0.3)
}

/* Style for dropdown */
.dropdown-item {
  background-color: #003399;
}
.dropdown-item:hover {
  background-color: #ccddff;
}
.dropdown-item.active.selected {
  background-color: #3377ff;
}
.dropdown-menu.open {
  background-color: #003399;
}
.btn.dropdown-toggle.btn-default {
  background-color: #3377ff;
  color: white;
}
.btn.dropdown-toggle.btn-default:hover {
  background-color: #6699ff;
  color: white;
}

/* Buttons */

.btn-default {
  background-color: #3377ff;
  color: white;
}
.btn-default:hover {
  background-color: #6699ff;
  color: white;
}

/* Player card */

#pl_flag {
  font-size: 6em;
}
#pl_name {
  font-size: 4em;
  color: white;
  padding-top: 19px;
}
#dist_label, #carb_label{
  font-size: 2.7em;
  color: white;
  display: inline;
}
#dist_label_2, #carb_label_2{
  font-size: 1em;
  color: white;
  display: inline;
}
.odometer.html-widget.html-widget-output.shiny-bound-output {
  color: white;
  font-size: 2.7em;
}
#player_card_ui_1-see_evol {
  height: 2.5em;
  width: 9em;
  text-align: center
}


/* Credits panel */

#credits_ui_1-see_source {
  height: 2.5em;
  width: 9em;
  text-align: center
}